<html>
<body>
  
  <div class="sidebar">
    <button class="btn btn-light" type="button" (click)="isClicked=!isClicked" >Submissions</button>
  </div>

  <div class="content">
  <div *ngIf="isClicked">

    <div class="dropdown-group">
 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="filterTechDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Tech Filter
  </button>
  <ul class="dropdown-menu" aria-labelledby="filterTechDropdown">
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'all'; filterTable(); false;">All</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'Java'; filterTable(); false;">Java</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'Devops'; filterTable(); false;">Devops</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'Data Engineering'; filterTable(); false;">Data Engineering</a></li>
  </ul>
</div>
 
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="filterLeadDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Lead Filter
  </button>
  <ul class="dropdown-menu" aria-labelledby="filterLeadDropdown">
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'all'; filterTable(); false;">All</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Tejan'; filterTable(); false;">Tejan</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Manohar'; filterTable(); false;">Manohar</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Kranthi'; filterTable(); false;">Kranthi</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Spandana'; filterTable(); false;">Spandana</a></li>
  </ul>
</div></div>

<table class="table" id="tableData">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Lead Name</th>
      <th>Technology</th>
      <th>Vendor Name</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredItems">
      <td>{{ item.full_name }}</td>
      <td>{{ item.lead_name }}</td>
      <td>{{ item.technology }}</td>
      <td>{{ item.vendor_name }}</td>
      <td>{{ item.rate }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>