<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Register Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
        integrity="sha512-XK3u0DP2o5vvwtfBHB2on2oQSE7NggFAP0MKj5+0qtsU0lKLpAso36ziru0UkKPeACzUcPmNRx4d8G3Orq1FOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"
  integrity="sha512-2Rn7arHZTdtkGcLe0XSTkZCVpuVfAgvbOR2Eg+qxUNU0xbGEPdhsSTrJjE0Z4U73TqIZ3wMK3TMD0nCQZrc8Kg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <div class="sidebar">
    <button class="btn btn-light" type="button" (click)="isClicked=!isClicked" >Submissions</button>
  </div>

  <div class="content">
  <div *ngIf="isClicked">

    <div class="dropdown-group">
 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="filterTechDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Tech Filter
  </button>
  <ul class="dropdown-menu" aria-labelledby="filterTechDropdown">
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'all'; filterTable(); false;">All</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'Java'; filterTable(); false;">Java</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'Devops'; filterTable(); false;">Devops</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedTechnology = 'Data Engineering'; filterTable(); false;">Data Engineering</a></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="filterLeadDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Lead Filter
  </button>
  <ul class="dropdown-menu" aria-labelledby="filterLeadDropdown">
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'all'; filterTable(); false;">All</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Tejan'; filterTable(); false;">Tejan</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Manohar'; filterTable(); false;">Manohar</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Kranthi'; filterTable(); false;">Kranthi</a></li>
    <li><a class="dropdown-item" href="#" (click)="selectedLeadName = 'Spandana'; filterTable(); false;">Spandana</a></li>
  </ul>
</div></div><br><br>

<table class="table" id="tableData">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Lead Name</th>
      <th>Technology</th>
      <th>Vendor Name</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredItems; trackBy: trackByFullName">
      <td>{{item.id }}</td>
      <td>{{ item.full_name }}</td>
      <td>{{ item.lead_name }}</td>
      <td>{{ item.technology }}</td>
      <td>{{ item.vendor_name }}</td>
      <td>{{ item.rate }}</td>
      <td>
        <button class="btn btn-primary" type="button" (click)="editItem(item)">Edit</button>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
       Edit
      </button> -->
        <button class="btn btn-danger" type="button" (click)="deleteItem(item)">Delete</button>

      </td>
    </tr>
    <tr *ngIf="editingItem">
      <td><input type="text" [(ngModel)]="editingItem.full_name" class="form-control"></td>
      <td><input type="text" [(ngModel)]="editingItem.lead_name" class="form-control"></td>
      <td><input type="text" [(ngModel)]="editingItem.technology" class="form-control"></td>
      <td><input type="text" [(ngModel)]="editingItem.vendor_name" class="form-control"></td>
      <td><input type="text" [(ngModel)]="editingItem.rate" class="form-control"></td>
      <td>
        <button class="btn btn-success" (click)="saveItem()">Save</button>
        <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
      </td>
    </tr>
    
    
  </tbody>
</table>
</div>
</div> 
</body>
</html>