<html>
  <head>
    </head>
    <body>
    
    <header id="myheader">
    <table style="padding: 40px">
      <tr><th ><b> Profile</b></th>
      <th><b> Contact</b></th>
      <!--<button *ngIf="login" (click)="toggleMenu()">Log In</button>
    <button *ngIf="!login" (click)="toggleMenu()">Log Out</button>-->
    <th><button *ngIf="login" (click)="login=!login">Log In</button>
    <button *ngIf="!login" (click)="login=!login">Log Out</button></th>
    <th><input type="search"> <b> Search</b></th></tr>
    </table>
  </header>
    
    

</body>
</html>